<% if params['error'] == 'true' %>
  <h3><font color="#C82536">Answer cannot be blank!</font></h3>
<% end %>

<h2>"<%= Question.find(params['qid']).text %>"</h2>
<h4 style="text-align:right;"><%= @embed_back.html_safe %></h4>

<%= form_tag("/experiment2/submit_answer?qid=" + params['qid'], :method => "put") do %>
    <b>Answer:</b><br><%= text_area(:answer, :text, :size => "100x15") %>
    <br/>
    <br/>
    <%= submit_tag("Submit Answer", options = {:style => "width: 200px; background-color: #ABABAB; color: #000000; "}) %>
<% end %>
<br/>

