<h1>Hi <%= @user.name.split[0] %></h1>
<h4 style="text-align:right;" ><%="("%><%= @embed_logout.html_safe%><%=")"%></h4>

<h3>Specify your major to continue</h3>

<%= form_tag("/experiment2/submit_major", :method => "put") do %>
  <%= radio_button("major", "name", "electrical engineering", options = {:checked => true}) %>Electrical Engineering<br>
  <%= radio_button("major", "name", "computer science") %>Computer Science<br>
  <%= radio_button("major", "name", "economics") %>Economics<br>
  <%= radio_button("major", "name", "political science") %>Political Science<br><br>
<%= submit_tag("Submit", options = {:style => "width: 200px; background-color: #ABABAB; color: #000000; "}) %>
<%end%>
<br>
