<h2>"<%= Question.find(params['qid']).text %>"</h2>

<h3>Select someone to forward this question to</h3>
<h4 style="text-align:right;"><%= @embed_back.html_safe %></h4>

<% if @potential_forwardees.length > 0 %>
<%= form_tag("/experiment2/submit_forward?qid=" + params['qid'], :method => "put") do %>

<h3>Here are your friends taking this course...</h3>
<div style="width:100%; overflow:auto">
<table width="100%" cellpadding="15">
<tr>
<% @potential_forwardees.each do |f| %>
  <td style="width:10%"  align = "middle">
      <img src="http://graph.facebook.com/<%= f['id'] %>/picture?type=large"/><br/><br/>
      <%= radio_button('forwardee', 'id', f['id'], options = {:checked => true}) %>&nbsp;
      <font size="4"><%= f['name'].split[0] %></font>
  </td>
<% end %>
</tr>
</table>
</div>


<%= submit_tag("Forward the Question", options = {:style => "width: 200px; background-color: #ABABAB; color: #000000; "}) %>
<% end %>
<% else %>
<h3>You have run out of people to forward this question to.</h3>
<% end %>

