<h2>Thanks <%= @embed_username %> for participating. Once everyone logs in we'll run PageRank on the class' social graph and analyze it tomorrow.</h2>
<br>
<h3><%="("%><%= @embed_back.html_safe%><%=")"%></h3>
<h3><%="("%><%= @embed_logout.html_safe%><%=")"%></h3>

